@media only screen and (max-width: 600px) {
  .buttons {
    flex-direction: column-reverse;
    #new-quote{
      margin-bottom: 10px;
    }
  }
}

.App {
  text-align: center;
  #quote-box{
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    #author{
      text-align: end;
    }
    #tweet-quote{
      float: left;
      padding-left: 5%;
    }
    #new-quote{
      float: right;
    }
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vin);
    color: white;
  }
}
